body, h1, input, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
  background-color: #f0f9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: whitesmoke;
  margin-bottom: 20px;
}

#muscle-group {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  text-align-last: center;
  font-weight: bold;
  -moz-appearance: none; /* Remove default styling Firefox */
  -webkit-appearance: none; /* Remove default styling for Chrome/Safari */
  appearance: none;
  cursor: pointer;
}

#muscle-group option {
  text-align: center;
  font-weight: bold;
}

#search-button {
  width: 80%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.logout-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}

#logout-button {
  position: fixed;
  top: 20px; 
  right: 20px; 
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-weight: bold;
  z-index: 100; 
}


#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#volume-icon {
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 50px;
  height: auto; 
  z-index: 10; 
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 0; 
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.nav-item img {
  width: 24px;
  margin-bottom: 4px;
}

.results-container {
  background-image: url('../assets/pngtree-black-and-white-gym-room-with-a-row-of-equipment-image_2911173.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;   
  overflow-y: auto;
  max-height: 80vh;
}

.results-container p {
  color: #ffffff; 
  text-shadow: 1px 1px 2px #000000; 
}

.results-container h2 {
  color: #ffffff; 
  text-shadow: 1px 1px 2px #000000; 
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #246edb;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
}

.result-title {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 3px; 
}

.result-image {
  display: block;
  max-width: 100%; 
  margin: 20px auto; 
  width: 100%;
  height: auto;
}

.result-description {
  color: #666;
  padding: 0 20px; 
  font-size: 16px;
  line-height: 1.6; 
  margin-bottom: 50px; 
}

.result-image-container {
  position: relative; 
}

.result-image-text {
  position: absolute;
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #FFFFFF;
  text-shadow: 2px 2px 4px #000000;
}

.exercise-title {
  text-decoration: underline;
}

.update-button, .delete-button {
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  text-align: center;
  display: inline-block;
  width: 48%;
  margin: 1%;
  transition: background-color 0.3s ease;
}

.update-button {
  background-color: #4CAF50; 
}

.delete-button {
  background-color: #f44336;
}

/* Hover effects */
.update-button:hover, .delete-button:hover {
  opacity: 0.8;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#addExerciseForm {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

#addExerciseForm input,
#addExerciseForm select,
#addExerciseForm textarea,
#exerciseName,
#exerciseDetails,
#equipmentSelect,
#muscleGroupSelect {
  padding: 10px;
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

#addExerciseForm button,#saveExercise {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 600px) {
  .update-button, .delete-button {
    width: 100%;
    margin: 5px 0; 
  }
}

/* Styles for smaller screens */
@media (max-width: 768px) {
  .update-button, .delete-button {
    width: 100%; 
    margin-bottom: 10px;
  }
}

/* Styles for even smaller screens, such as mobile devices in portrait mode */
@media (max-width: 480px) {
  .update-button, .delete-button {
    font-size: 14px; 
    padding: 10px 5px; 
  }
}